body {
background-image:url('assets/bg/blackskystar.jpg');
}
@font-face {
font-family: "Gameplay.ttf";
font-style: normal;
src: url('assets/fonts/Gameplay.ttf');
}

ul {
position: fixed;
padding left: 20%;
text-align: center;
list-style: none;
top:50%;
left: 50%;
width: auto;
color: red;
}

li {
font-family: 'Gameplay.ttf';
}

.all {
height: 100%;
width: auto;
}

a {

color:
#FF69B4
;
}

a:hover {
color:
#00FFFF
;
transform:scale(2,2);
transform-origin:0 0;
}
